
.title{
    display: flex;
    justify-content: center;
    margin:20px;
}
.name{
    color:#013087;
    font-size: 50px;
    margin-top: 25px;
    margin-left:-5px;
}
.logo{
    width:auto;
    height: 140px;
    display: flex;
    justify-content: space-between;
    
}
.logo img {
    width: 50px;
    height: 50px;
}

.search {
    width: 600px;
    margin-top:50px;
}

.studyname {
    padding-right: 300px;
}

.block {
    background-color: #c1daff;
    padding: 12px 10px 8px 10px;
}

.arrow:hover {
    width: 24px;
}

.arrow {
    width: 21px;
}

.newstudy {
    border-color: transparent;
    float: right;
    margin-left: 1330px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}

.newstudy:hover {
    border-color: navy;
    transition: border-color 1s;
}

.add {
    float: right;
    width: 70px;
    margin-top: 15px;
}

.add:hover {
    width: 75px;
}

.customer {
    display: flex;
    font-size: 11px;
    margin-top: 60px;
    text-align: right;
}


.topright {
    width: 45px;
    margin-right: 25px;
}

.dropdown {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-left: 8px;
}

.dropdown:hover {
    color: gray;
}
@media screen and (max-width:660px){
    .search{
        display:none;
    }
    .customer{
        display:none;
    }
}