.loginbutton {
    float: right;
}

.aclogin {
    margin-right: 300px;
    margin-top: 30px;
}

.header {
    margin: 65px 290px 0px 270px;
    font-size: 15px;
    color: grey;
    font-weight: bold;
}